@model IEnumerable<DataGhala.Models.Company>



@{
    Layout = null;
}

@{ Layout = null; }
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Services - Data Ghala</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Moderna - v4.8.0
    * Template URL: https://bootstrapmade.com/free-bootstrap-template-corporate-moderna/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center ">
        <div class="container d-flex justify-content-between align-items-center">

            <div class="logo">
                <h1 class="text-light"><a href="index.html"><span>Data Ghala</span></a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="active" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Services">Services</a></li>
                    <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <main id="main">

        <div class="row mb-3">
            <div class="col col-sm-6">
                <form>
                    <div class="input-group">
                        <input type="search" name="IndSearch" class="form-control" placeholder="Search." value="@ViewData["GetCompanyDetails"]">
                        @*<input type="submit" value="Search" class="=btn btn-outline-primary" />*@
                        <button class="btn btn-outline-primary" type="submit"><i class="fas fa-search mr-1"></i>Search</button>
                        <div class="input-group-append">
                            @*<button class="btn btn-outline-primary" type="submit"><i class="fas fa-search mr-1"></i>Search</button>*@
                            @*<a class="btn btn-outline-secondary" href="@Url.Action("Index", "Members")"><i class="fas fa-redo-alt mr-1"></i>Reset</a>
            <button data-href="@Url.Action("Action", "Members")" class="data-btn btn btn-outline-success" type="button" data-toggle="modal" data-target="#actionModal"><i class="fas fa-plus mr-1"></i>Create</button>*@
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr />


        <div class="row">
            @if (ViewBag.ShowList)
            {
            @foreach (var item in Model)
            {
                <div class="col-md-12 col-xs-6 border-primary mb-3">
                    <div class="card mb-3" style="max-width: 100%;">
                        <div class="row g-0">
                            <div class="col-md-12">
                                <div class="card-header text-white bg-info">
                                    <p class="card-text">
                                        <h5 class="card-title">
                                            @item.Name
                                            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                            {
                                                <a class="text-white float-right" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>}
                                        </h5>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card-body">
                                    <p class="card-text"><b>Name</b>@item.Name</p>
                                    <p class="card-text"><b>Publication </b>@item.Publication</p>
                                    <p class="card-text"><b>Author: </b>@item.Author</p>
                                    <p class="card-text"><b>Publisher: </b>@item.Publisher</p>
                                    <p class="card-text "><b>Publication Number</b>@item.PublicationNumber</p>
                                    <p class="card-text "><b>Source</b>@item.Source</p>


                                </div>
                            </div>
                            @*<div class="col-md-12">
                                    <div class="card-footer ">
                                        <p class="card-text">
                                            <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.Id">
                                                <i class="bi bi-eye-fill"></i> Show Details
                                            </a>
                                            <a class="btn btn-success text-white @((DateTime.Now > item.DateOfPublication) ? "disabled" : "")"
                                               asp-controller="Orders"
                                               asp-action="AddItemToShoppingCart"
                                               asp-route-id="@item.Id">
                                                <i class="bi bi-cart-plus"></i>(Price @item.Price.ToString("c"))
                                            </a>
                                        </p>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>}
            }
        </div>


        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Publication)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Author)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Publisher)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PublicationNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Source)
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Publication)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Author)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Publisher)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PublicationNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Source)
                        </td>
                        <td>
                            <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            @*<button data-href="@Url.Action("Action", "Members", new { ID = members.ID})" type="button" class="data-btn btn btn-secondary" data-toggle="modal" data-target="#actionModal">View</button>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>


    </main><!-- End #main -->
    <!-- ======= Footer ======= -->


    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/purecounter/purecounter.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>

</body>

</html>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Publication)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Publisher)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PublicationNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Source)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Publication)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Publisher)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublicationNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Source)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
